.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    background-color: brown;
}
#FaPlus{
    display: block;
    margin: 40px auto;
    border-radius: 50%;
    padding: 18px;
    background-color: hsl(317, 86%, 52%);
    color: white;
    border: none;
    cursor:pointer;
}
.task-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 15px;
    width: 100%;
    max-width: 600px;
    padding: 30px 20px;
}
label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    width: 80%;
}
.task-input input{
    display: block;
    margin-top: 5px;
    margin:0 auto;
    padding: 5px;
    width: 100%;
}
.addButton{
    display: block;
    margin: 300px auto;
    padding: 5px;
    background-color: hsl(317, 86%, 52%);
    color: white;
    border: none;
    border-radius: 10px;
    width: 80%;
    box-sizing: border-box;

}
.btn{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}
.button{
    border-radius: 20px;
    border: none;
    cursor: pointer;
    padding: 8px;
    width: 180px;
}
.button.todo{
    background: hsla(249, 40%, 40%, 1.0);
    color: white;
}
.button.incomplete{
    background: hsla(10, 90%, 40%, 0.3);
    color: white;
    margin-left: auto;
}
ol{
    list-style: none;
}
.task-item{
    display: flex;
    align-items: center;
    background-color: rgb(27, 18, 120);
    padding: 12px 15px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    gap: 10px;
}
#delete-btn{
    margin-left: auto;
}
.input{
    background-color: rgb(27, 18, 120);
    color: white;
    border: none;
}
h1{
    color:rgb(36, 24, 166);;
}
@media (min-width:768px) {
    .container{
        max-width: 700px;
    }
    .task-item{
        font-size: 1.1rem;
        padding: 15px 20px;
    }
    #FaPlus{
        padding: 22px;
        font-size: 20px;
    }
}
@media (min-width:1024px) {
    .container{
        max-width: 850px;
    }
    h2, h3{
        font-size: 1.8rem;
    }
}
.has-task{
    background-color: aqua;
    border-radius: 5px;
    border: none;
}